BasedOnStyle: Chromium
SortIncludes: 'false'
Standard: Latest
ColumnLimit: 85
JavaImportGroups: ['android', 'androidx', 'com', 'dalvik', 'junit', 'org', 'com.google.android.apps.chrome', 'org.chromium', 'java', 'javax']