[submodule "external/flatbuffers"]
	path = external/flatbuffers
	url = https://github.com/google/flatbuffers
[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt
[submodule "external/xenium"]
	path = external/xenium
	url = https://github.com/mpoeter/xenium
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest
