[submodule "external/flatbuffers"]
	path = external/flatbuffers
	url = https://github.com/google/flatbuffers
[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt
[submodule "external/xenium"]
	path = external/xenium
	url = https://github.com/mpoeter/xenium
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest
[submodule "external/sockpp"]
	path = external/sockpp
	url = https://github.com/DevForce-dev/sockpp
[submodule "external/rapidjson"]
	path = external/rapidjson
	url = https://github.com/Tencent/rapidjson
[submodule "external/JUCE"]
	path = external/JUCE
	url = https://github.com/juce-framework/JUCE
[submodule "external/rocksdb"]
	path = external/rocksdb
	url = https://github.com/facebook/rocksdb
[submodule "external/lz4"]
	path = external/lz4
	url = https://github.com/lz4/lz4
[submodule "external/mbedtls"]
	path = external/mbedtls
	url = https://github.com/ARMmbed/mbedtls
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw
[submodule "external/mem"]
	path = external/mem
	url = https://github.com/0x1F9F1/mem
