[submodule "external/flatbuffers"]
	path = external/flatbuffers
	url = https://github.com/google/flatbuffers
[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest
[submodule "external/rapidjson"]
	path = external/rapidjson
	url = https://github.com/Tencent/rapidjson
[submodule "external/lz4"]
	path = external/lz4
	url = https://github.com/lz4/lz4
[submodule "external/mbedtls"]
	path = external/mbedtls
	url = https://github.com/ARMmbed/mbedtls
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui
[submodule "external/gtest-memleak-detector"]
	path = external/gtest-memleak-detector
	url = https://github.com/ekcoh/gtest-memleak-detector
[submodule "external/stackwalker"]
	path = external/stackwalker
	url = https://github.com/JochenKalmbach/StackWalker
[submodule "external/tracy"]
	path = external/tracy
	url = https://github.com/wolfpld/tracy/
[submodule "external/musl"]
	path = external/musl
	url = https://github.com/bminor/musl
[submodule "external/mimalloc"]
	path = external/mimalloc
	url = https://github.com/microsoft/mimalloc
[submodule "external/pugixml"]
	path = external/pugixml
	url = https://github.com/zeux/pugixml.git
