{
  "branches": ["main", "devel2","prerel"],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    "@semantic-release/git",
    [
      "@semantic-release/npm", 
      {
        "npmPublish": false
      }
    ],
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "changelog.md",
        "changelogTitle": "Latest changes",
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": ["changelog.md"]
      }
    ]
  ]
}